[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
selenium = ">=2.44.0,<3.0.0"
requests = "*"
vcrpy = "*"
future = "*"
fake-useragent = "*"
Unidecode = "*"
pandas = "*"
ipython = "*"
xlwt = "*"
xlrd = "*"

